<!DOCTYPE html>
<html>

  <head>
    <title> See you pset buddy!</title>

  </head>

  <body style="text-align:center; font-family:Verdana;font-size: 14px" background="http://i.huffpost.com/gen/2736712/images/o-MIT-facebook.jpg" }>
  <div align="center" >
    <fieldset style="height:600px ; width:980px ">
    <style type="text/css">
        fieldset { 
        display: block;
        margin-left: 2px;
        margin-right: 2px;
        padding-top: 0.35em;
        padding-bottom: 0.625em;
        padding-left: 0.75em;
        padding-right: 0.75em;
        border: 2px groove (internal value);
        background-color:rgba(255,255,255,0.6);

    }
    </style>
    <br><br><br><br>
    <h1 style="text-align: center">Now let's see who your PSET Buddy is!</h1>
    <br><br><br><br>
    <h2 style="text-align: center">First name: {{f_name}}  Last name:{{l_name}}
    <br><br><br><br>  Email: {{email}}</h2>


    </fieldset>
    </div>
    </form>

  </body>
</html>
